Node-RED_Flows/Joystick_22_Flow.json
[{"id":"ebcfcbf0.460c38","type":"tab","label":"Joystick Control","disabled":false,"info":""},{"id":"fcfdab90.e3e398","type":"ui_joystick","z":"ebcfcbf0.460c38","name":"Joystick","group":"b5c05cb9.3a8b7","order":1,"width":7,"height":5,"trigger":"all","timeInterval":"50","useThemeColor":false,"color":"#f10404","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":200,"y":140,"wires":[["c77ef1a0.d1b5d"]]},{"id":"c77ef1a0.d1b5d","type":"function","z":"ebcfcbf0.460c38","name":"selector","func":"msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["a075c338.4c942"]]},{"id":"a075c338.4c942","type":"join","z":"ebcfcbf0.460c38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":140,"wires":[["dcee2977.ed6268"]]},{"id":"dcee2977.ed6268","type":"json","z":"ebcfcbf0.460c38","name":"","property":"payload","action":"str","pretty":true,"x":760,"y":140,"wires":[["f5207313.822de"]]},{"id":"f5207313.822de","type":"udp out","z":"ebcfcbf0.460c38","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":940,"y":140,"wires":[]},{"id":"fc84ef32.1f7d6","type":"inject","z":"ebcfcbf0.460c38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["b0c899dc.4f7688"]]},{"id":"b0c899dc.4f7688","type":"file in","z":"ebcfcbf0.460c38","name":"","filename":"/tmp/Speed","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":260,"wires":[["ee67d4e5.28d548"]]},{"id":"ee67d4e5.28d548","type":"ui_chart","z":"ebcfcbf0.460c38","name":"","group":"b5c05cb9.3a8b7","order":1,"width":0,"height":0,"label":"X dot (m/s)","chartType":"line","legend":"false","xformat":"m/s","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":".5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":260,"wires":[[]]},{"id":"2112a3c5.02b62c","type":"inject","z":"ebcfcbf0.460c38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["1e38a06d.e1db8"]]},{"id":"1e38a06d.e1db8","type":"file in","z":"ebcfcbf0.460c38","name":"","filename":"/tmp/Direction","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":340,"wires":[["6f4828a1.552108"]]},{"id":"6f4828a1.552108","type":"ui_chart","z":"ebcfcbf0.460c38","name":"","group":"b5c05cb9.3a8b7","order":1,"width":0,"height":0,"label":"Theta Dot (Rads/s)","chartType":"line","legend":"false","xformat":"rads/s","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.8","ymax":"0.8","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":340,"wires":[[]]},{"id":"b5c05cb9.3a8b7","type":"ui_group","name":"Joystick","tab":"fef5ae81.11f63","order":1,"disp":false,"width":"7","collapse":false},{"id":"fef5ae81.11f63","type":"ui_tab","name":"Joystick","icon":"adjust","order":3,"disabled":false,"hidden":false}]