Node-RED_Flows/Lab2_Flows.json
[{"id":"e140e1bc.10c9f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed45c51e.b0a6c8","type":"inject","z":"e140e1bc.10c9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":340,"wires":[["cc17ff44.67c55"]]},{"id":"cc17ff44.67c55","type":"file in","z":"e140e1bc.10c9f","name":"Voltage","filename":"/tmp/Voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":340,"wires":[["48e7aaaa.bbe5e4"]]},{"id":"48e7aaaa.bbe5e4","type":"ui_gauge","z":"e140e1bc.10c9f","name":"","group":"94135870.ca0438","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage ","label":"V","format":"{{value}}","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":340,"wires":[]},{"id":"94135870.ca0438","type":"ui_group","name":"Voltage","tab":"ccd00dce.afd88","order":1,"disp":true,"width":"6","collapse":false},{"id":"ccd00dce.afd88","type":"ui_tab","name":"Electrical Data","icon":"dashboard","order":1,"disabled":false,"hidden":false}]