Node-RED_Flows/Lab_5_Flows.json
[{"id":"f3407dae.e768b","type":"tab","label":"Lab 5","disabled":false,"info":""},{"id":"7eef4aeb.25ccc4","type":"inject","z":"f3407dae.e768b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["c32c01e1.f3d62","d53df657.d28a08","343c39d7.3e2346","d69211fd.37f6a"]]},{"id":"d53df657.d28a08","type":"file in","z":"f3407dae.e768b","name":"Distance","filename":"/tmp/distance","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":180,"wires":[["2f146738.fbb768"]]},{"id":"c32c01e1.f3d62","type":"file in","z":"f3407dae.e768b","name":"Angular Position","filename":"/tmp/heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":100,"wires":[["d3c8df55.a1102"]]},{"id":"343c39d7.3e2346","type":"file in","z":"f3407dae.e768b","name":"x coords","filename":"/tmp/x_axis","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":260,"wires":[["553c9837.5e9628"]]},{"id":"d69211fd.37f6a","type":"file in","z":"f3407dae.e768b","name":"y coords","filename":"/tmp/y_axis","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":340,"wires":[["3f37b3d4.2c67ac"]]},{"id":"d3c8df55.a1102","type":"ui_gauge","z":"f3407dae.e768b","name":"","group":"a0bd3f4b.b6c0a","order":1,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":100,"wires":[]},{"id":"2f146738.fbb768","type":"ui_chart","z":"f3407dae.e768b","name":"","group":"a0bd3f4b.b6c0a","order":2,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":180,"wires":[[]]},{"id":"553c9837.5e9628","type":"ui_chart","z":"f3407dae.e768b","name":"","group":"a91c599b.7a2d98","order":3,"width":0,"height":0,"label":"X Axis (m)","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"5","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":260,"wires":[[]]},{"id":"3f37b3d4.2c67ac","type":"ui_chart","z":"f3407dae.e768b","name":"","group":"a91c599b.7a2d98","order":3,"width":0,"height":0,"label":"Y Axis (m)","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"5","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":340,"wires":[[]]},{"id":"a0bd3f4b.b6c0a","type":"ui_group","name":"Polar Coordinates","tab":"7f0b0cf8.568b94","order":1,"disp":true,"width":"6","collapse":false},{"id":"a91c599b.7a2d98","type":"ui_group","name":"Cartesian Coordinates","tab":"7f0b0cf8.568b94","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f0b0cf8.568b94","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":4,"disabled":false,"hidden":false}]