Node-RED_Flows/Lab_4_Flow.json
[{"id":"59b44cf1.ae0c84","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8c7d5971.72f498","type":"inject","z":"59b44cf1.ae0c84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["4015a8fc.1a29a8","bdaf8079.89dcd","45ca5a73.b2ca64","6d442b2a.d5d5d4","505454ae.10091c"]]},{"id":"4015a8fc.1a29a8","type":"file in","z":"59b44cf1.ae0c84","name":"\"We hab reeched maiximlum vlelocipy\"","filename":"/tmp/xdot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":140,"wires":[["fffb80e7.95c3f"]]},{"id":"bdaf8079.89dcd","type":"file in","z":"59b44cf1.ae0c84","name":"theta_dot","filename":"/tmp/thetadot","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":240,"wires":[["8308dd60.a8d36"]]},{"id":"45ca5a73.b2ca64","type":"file in","z":"59b44cf1.ae0c84","name":"Left","filename":"/tmp/PDL","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":340,"wires":[["52513e5d.f269c"]]},{"id":"6d442b2a.d5d5d4","type":"file in","z":"59b44cf1.ae0c84","name":"Right","filename":"/tmp/PDR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":440,"wires":[["d6cf5c0c.7499e"]]},{"id":"fffb80e7.95c3f","type":"ui_chart","z":"59b44cf1.ae0c84","name":"","group":"9cf21e26.32e9f","order":1,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":140,"wires":[[]]},{"id":"8308dd60.a8d36","type":"ui_chart","z":"59b44cf1.ae0c84","name":"","group":"9cf21e26.32e9f","order":1,"width":0,"height":0,"label":"Angular Velocity (rads/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":240,"wires":[[]]},{"id":"52513e5d.f269c","type":"ui_chart","z":"59b44cf1.ae0c84","name":"","group":"f6b1f907.76a678","order":0,"width":0,"height":0,"label":"Left Wheel (rads/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":340,"wires":[[]]},{"id":"d6cf5c0c.7499e","type":"ui_chart","z":"59b44cf1.ae0c84","name":"","group":"f6b1f907.76a678","order":1,"width":0,"height":0,"label":"Right Wheel (rads/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":440,"wires":[[]]},{"id":"505454ae.10091c","type":"file in","z":"59b44cf1.ae0c84","name":"Voltage","filename":"/tmp/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":540,"wires":[["ef2e0267.71a3b"]]},{"id":"ef2e0267.71a3b","type":"ui_gauge","z":"59b44cf1.ae0c84","name":"","group":"88b920.7a9756e","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#b30000","#e6e600","#3acb3c"],"seg1":"10","seg2":"11.5","x":600,"y":540,"wires":[]},{"id":"9cf21e26.32e9f","type":"ui_group","name":"Chassis Speds","tab":"1a7d023e.b185ce","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6b1f907.76a678","type":"ui_group","name":"Wheel Speds","tab":"1a7d023e.b185ce","order":3,"disp":true,"width":"6","collapse":false},{"id":"88b920.7a9756e","type":"ui_group","name":"Robot Diagnostics","tab":"1a7d023e.b185ce","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a7d023e.b185ce","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3}]